@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {

    /* colors */
    --white: #fff;
    --gray: #252525c5;
    --dark: #14001b;
    --darkviolet: #2C0735;
    --violet: #4E148C;
    --purple: #613DC1;
    --indigo: #858AE3;
    --azure: #97DFFC;
    --green: #0FFF50;
    --yellow: #CFFF04;
    --neonGreen: #39FF14;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--darkviolet);
    position: relative;
    overflow-x: hidden;
    font-family: "Readex Pro";
    height: 100%;
}


#scrollToTopBtn {
    display: none;
    position: fixed;
    font-size: 1rem;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--indigo);
    color: var(--azure);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    animation: bounce 2s infinite;
}

#scrollToTopBtn:hover {
    background-color: var(--purple);
    /* Darker background on hover */
}

/* Bounce Animation */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.light-mode {
    background-color: var(--white)
}

.light-mode,
.light-mode img,
.light-mode canvas {
    filter: invert(95%) hue-rotate(180deg)
}

.wrapper {
    width: 100%;
    background-image: url(images/d3638313-742e-4227-8c11-a60694b9520b.jpg);
    --bs-gutter-x: 0;
    --bs-gutter-y: 0
}

.container-fluid {
    margin: 0
}

.navbar {
    padding: 1rem;
    border-bottom: 1px solid var(--darkviolet);
}

.navbar-brand {
    font-size: 40px;
    font-weight: 800;
}

.navbar-toggler {
    background-color: none;
    border: none;
    color: var(--indigo);
    font-size: 2.5rem;
    font-weight: 900;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    color: var(--purple);
}


.navbar-nav {
    margin-left: auto;
}

.nav-item {
    left: 0;
    padding-right: 40px;
}

.nav-link {
    color: var(--azure);
    font-size: 20px;
    font-weight: 600;
}

#toggle-dark-mode {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #333;
    border-radius: 30px;
    cursor: pointer;
    height: 30px;
    width: 60px;
    z-index: 1;
    position: relative;
    display: inline-block;
    margin: 0;
}

#toggle-dark-mode:before {
    content: "";
    background-image: url(images/sun.png);
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease-in;
}

#toggle-dark-mode:checked {
    background: #1b1b1b;
}

#toggle-dark-mode:checked:before {
    background-image: url(images/moon.png);
    filter: invert(95%) hue-rotate(180deg);
    left: 32px;
}

#toggle-dark-mode:checked~.container {
    background-color: #f1f1f1;
    color: #eee;
}

/* Additional styles to match the nav-link appearance */
.nav-link input[type="checkbox"] {
    display: none;
}

.nav-link {
    display: flex;
    align-items: center;
}


.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--indigo);
}

.hero {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.65);
    color: var(--azure);
    gap: 10px;
    height: 90vh;
    padding: 0 5% 0 5%;
    width: 100%
}

.item1 {
    color: var(--white);
    margin-bottom: 50px;
    z-index: 4
}

.item1 .txt1,
.item1 h5 {
    font-size: 40px;
    font-weight: 700
}

.item1 .txt1 {
    color: var(--white);
}

.item1 .txt2 {
    animation: typing 4s steps(40) infinite, blink-caret .75s step-end infinite;
    border-right: .15em solid --indigo;
    color: var(--indigo);
    font-size: 40px;
    font-weight: 800;
    overflow: hidden;
    white-space: nowrap
}

@keyframes typing {
    0% {
        width: 0
    }

    70% {
        width: 100%
    }

    to {
        width: 0
    }
}

@keyframes blink-caret {

    0%,
    to {
        border-color: transparent
    }

    50% {
        border-color: #606ff1
    }
}

.item1 h1 {
    font-size: 85px;
    font-weight: 700
}

.item1 p {
    font-size: 20px
}

.item2 {
    color: #fff;
    margin-bottom: 50px
}

.ellipse,
.item2 {
    position: relative
}

.ellipse {
    animation: pulsate 5s infinite;
    background-color: var(--azure);
    border: 32px solid var(--purple);
    border-radius: 50%;
    filter: blur(40px);
    height: 450px;
    aspect-ratio: 1/1;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -65%);
    z-index: 1
}

@keyframes pulsate {
    0% {
        opacity: 1;
        border-radius: 61% 39% 50% 50% / 40% 38% 62% 60%;
    }

    50% {
        opacity: .7;
        transform: translate(-50%, -65%) scale(1.15)
    }

    to {
        opacity: 1;
        transform: translate(-50%, -65%) scale(1)
    }
}

.image1 {
    height: 555px;
    left: 50%;
    top: 65%;
    z-index: 3
}

.image1,
.image2 {
    position: absolute;
    transform: translate(-50%, -50%)
}

.image2 {
    filter: blur(1px);
    height: 750px;
    left: 45%;
    top: 85%;
    width: auto;
    z-index: 2
}

.item3 {
    color: #fff;
    margin: 50px 0;
    z-index: 5
}

.item3 .socials {
    color: #8450c0;
    font-size: 50px;
    padding-right: 30px;
    transition: shadow .3s ease, color .3s ease
}

.item3 .socials:hover {
    text-shadow: 0 0 2.5rem #d400ff, 0 0 5.5rem #d400ff, 0 0 6rem #d400ff, 0 0 9.5rem #d400ff
}



.item3 .button1 {
    background-color: #4040b1;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    height: 60px;
    line-height: 30px;
    margin: 50px 0;
    padding: 0 50px;
    text-align: center
}

.item3 .button1:hover {
    background-color: #606ff1;
    text-shadow: 0 0 2.5rem #d400ff, 0 0 5.5rem #d400ff, 0 0 6rem #d400ff, 0 0 9.5rem #d400ff;
    transform: scale(1.05)
}

.item3 .button1:active {
    background-color: #5050d1;
    transform: scale(.95)
}

.reveal-section {
    margin-top: 50px;
    opacity: 0;
    padding: 50px;
    transform: translateY(60px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out
}

.reveal-section.reveal {
    opacity: 1;
    transform: translateY(0)
}

.about__section {
    background-color: var(--dark);
    flex-direction: column;
    height: 100vh;
    text-align: center;
    z-index: 2;
}

.about__section,
.about__section .heading {
    display: flex;
    justify-content: center
}

.about__section .heading {
    align-items: center;
    margin-bottom: 3rem;
}

.about__section .grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 0 50px
}

.about__section .about,
.about__section .about2 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin-right: 10px
}

.about__section .about2 {
    color: #606ff1
}

.about__section .square {
    background-color: #000;
    border-radius: 54px;
    width: 80%;
    max-width: 350px;
    aspect-ratio: 1/1;
    position: relative;
    transition: drop-shadow .3s ease;
    z-index: 5
}

.about__section .square:before {
    border: 5px solid transparent;
    border-radius: 54px;
    bottom: -8px;
    content: "";
    left: -8px;
    position: absolute;
    right: -8px;
    top: -8px;
    transition: border-color .3s ease;
    z-index: -1
}

.about__section .square:hover:before {
    border-color: #9747ff;
    filter: drop-shadow(0px 0px 50px #9747ff);
    filter: blur(30px);
}

.about__section .square a {
    color: inherit;
    display: block;
    text-decoration: none;
}

.about__section .boxContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: 30vh;
    width: 100%
}

.about__section .boxImg {
    color: #9747ff;
    font-size: 80px;
    margin-bottom: 50px
}

.about__section .boxTxt {
    color: #fff;
    font-size: 50px;
    font-weight: 600
}

.project__section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background: hsla(0, 0%, 6%, .9);
    padding: 0 5% 0 5%;
    text-align: center;
    z-index: 0
}

.project__section .row {
    width: 100%;
    height: 55%;
}


.project__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: var(--white);
    padding: 3rem;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    background: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 8px;
    box-shadow: 0 0 20px var(--indigo),

}

.scroller {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 10px;
}

.scroller__inner {
    display: flex;
    gap: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    animation: scroll 50s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.scroller li {
    flex: 0 0 750px;
    position: relative;
    list-style-type: none;
}

.scroller img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;

}

.scroller img:hover .overlays {
    filter: drop-shadow(0 0 0.75rem crimson);
}

.scroller img:hover .overlays {
    filter: drop-shadow(0 0 0.75rem crimson);
}

.scroller .overlays {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--azure);
    border-radius: 5px;
    z-index: 1;
    line-height: 20px;
}

.scroller img:hover~.overlays {
    filter: drop-shadow(0 0 0.75rem crimson);
}

.scroller .overlays p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    background-color: var(--white);
    color: var(--violet);
    width: 120px;
    height: 32px;
    white-space: nowrap;
    text-align: center;
    border-radius: 5px;
    height: 32px;
}

.scroller .overlays h3 {
    font-size: 24px;
    margin-top: 10px;
}

/* game section */
#canvas1 {
    border: 3px solid #9747ff;
    box-shadow: 0 0 10px 5px #9747ff;
    width: 1000px;
    height: 600px;
    z-index: 10000;
}

#collisionCanvas {
    opacity: 0;
    position: absolute;
    top: 50;
    left: 50;
    translate: (-50%, -50%);
    width: 1000px;
    height: 600px;
    z-index: 9999;
}

/* Style the game buttons */
.game-button {
    display: block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Start Button */
#startButton {
    background: linear-gradient(135deg, #ff6b6b, #f06595);
}

/* Pause Button */
#pauseButton {
    background: linear-gradient(135deg, #ffdd00, #f8a107);
}

/* Continue Button */
#continueButton {
    background: linear-gradient(135deg, #00b894, #00cec9);
}

/* Hover and Focus Effects */
.game-button:hover,
.game-button:focus {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Active Button Effect */
.game-button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact__section {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background: hsla(0, 0%, 6%, .9);
    color: #fff;
    flex-direction: column;
    height: 90vh;
    padding: 0 5% 0 5%;
    text-align: start;
    z-index: 1
}

.contact__section,
.contact__section .heading {
    display: flex;
    justify-content: center
}

.contact__section .heading {
    align-items: center;
    margin: 100px 0;
}

.contact__section .about,
.contact__section .about2 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin-right: 10px
}

.contact__section .about2 {
    color: #606ff1
}

.contact__section .leftBox {
    color: #fff;
    height: auto;
    margin: 10px;
    padding: 20px 30px;
    width: 100%
}

.leftBox h1 {
    margin-bottom: 10px
}

.leftBox a {
    font-size: 24px;
    margin-bottom: 50px;
    padding: 10px;
    text-decoration: none
}


/* Center the buttons */
#buttons {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 30px;
}



#introText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #606ff1;
    font-size: 24px;
    text-align: center;
    font-family: 'Impact', sans-serif;
    z-index: 10;
    /* Ensure the text is above the canvas */
}

.contact__section .form {
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    background: var(--violet);
    border: 1px solid var(--violet);
    border-radius: 8px;
    box-shadow: 0 4px 30px var(--purple);
    color: #fff;
    height: auto;
    margin: 0;
    padding: 20px 30px;
    width: 90%
}

.form h2 {
    border-bottom: 3px solid #606ff1;
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px
}

.form input {
    background: none;
    border: 0;
    border-bottom: 2px solid #d2d9fd;
    box-sizing: border-box;
    color: #fff;
    font-family: "Readex Pro";
    outline: none;
    padding: 10px;
    resize: none;
    transition: all .3s;
    width: 100%
}

.form input:focus {
    border-bottom: 2px solid #606ff1
}

.form p:before {
    content: attr(type);
    display: block;
    font-size: 14px;
    margin: 28px 0 0
}

.form button {
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    background: #9747ff;
    border: 1px solid rgba(177, 140, 190, .25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    color: #fff;
    cursor: pointer;
    float: right;
    font-weight: 400;
    margin: 4px 0 0;
    padding: 16px 28px;
    transition: all .3s
}

.form button:hover {
    background: #5050d1;
    color: #fff
}

.form div {
    background: #50505a;
    border-radius: 6px;
    bottom: -15px;
    box-shadow: 10px 10px 40px -14px #000;
    color: #fff;
    content: "Hi";
    font-size: 13px;
    padding: 16px 4px 16px 0;
    position: absolute;
    right: -20px;
    width: 320px
}


@media screen and (max-width:1200px) {
    .navbar-brand {
        font-size: 30px
    }

    .nav-item {
        padding-right: 35px
    }

    .nav-link {
        font-size: 16px
    }

    .hero {
        height: auto;
        padding: 5%;
    }



    .item1 .txt1,
    .item1 .txt2,
    .item1 h5 {
        font-size: 24px
    }

    .item1 h1 {
        font-size: 48px
    }

    .item1 p {
        font-size: 16px
    }

    .ellipse {
        height: 200px;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -80%);
        width: 200px
    }

    .image1 {
        height: 300px
    }

    .image2 {
        height: 400px
    }

    .item3 .socials {
        font-size: 24px;
        padding-right: 10px
    }

    .item3 .button1 {
        font-size: 18px;
        height: 50px;
        padding: 0 20px
    }

    .about__section,
    .project__section,
    .contact__section {
        height: auto;
        padding: 5%;
    }

    .about__section .heading,
    .project__section .heading,
    .contact__section .heading {
        font-size: 40px;
        margin: 50px 0
    }

    .about__section .about,
    .about__section .about2,
    .project__section .about,
    .project__section .about2,
    .contact__section .about,
    .contact__section .about2 {
        font-size: 30px
    }

    .about__section .square,
    .project__section .square {
        height: auto;
        margin: 20px;
        width: 100%
    }

    .about__section .boxImg,
    .project__section .boxImg {
        font-size: 40px;
        margin-bottom: 20px
    }

    .about__section .boxTxt,
    .project__section .boxTxt {
        font-size: 24px
    }

    .project__section img {
        height: auto;
    }

    .contact__section .form,
    .contact__section .leftBox {
        padding: 10px
    }

    .form h2 {
        font-size: 24px;
        width: 140px
    }

    .form input {
        font-size: 16px
    }

    .form button {
        padding: 10px 20px
    }

    .form div {
        padding: 10px;
        width: 260px
    }
}


@media screen and (max-width:979px) {
    .navbar-brand {
        font-size: 30px
    }

    .nav-item {
        padding-right: 35px
    }

    .nav-link {
        font-size: 16px
    }

    .hero {
        height: auto;
        padding: 5%;
    }

    .item1 .txt1,
    .item1 .txt2,
    .item1 h5 {
        font-size: 24px
    }

    .item1 h1 {
        font-size: 48px
    }

    .item1 p {
        font-size: 16px
    }

    .ellipse {
        height: 200px;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -80%);
        width: 200px
    }

    .image1 {
        height: 300px
    }

    .image2 {
        height: 400px
    }

    .item3 .socials {
        font-size: 24px;
        padding-right: 10px
    }

    .item3 .button1 {
        font-size: 18px;
        height: 50px;
        padding: 0 20px
    }

    .about__section,
    .contact__section {
        height: auto;
        padding: 5%;
    }

    .project__section {
        height: 100vh;
    }

    .project__section .row {
        gap: 5%;
    }

    .project__section .project__card {
        height: min-content;
    }

    .project__section .scroller,
    .scroller__inner {
        height: 100vh;
    }

    .about__section .heading,
    .project__section .heading,
    .contact__section .heading {
        font-size: 40px;
        margin: 50px 0
    }

    .about__section .about,
    .about__section .about2,
    .project__section .about,
    .project__section .about2,
    .contact__section .about,
    .contact__section .about2 {
        font-size: 30px
    }

    .about__section .square,
    .project__section .square {
        height: auto;
        margin: 20px;
        width: 100%
    }

    .about__section .boxImg,
    .project__section .boxImg {
        font-size: 40px;
        margin-bottom: 20px
    }

    .about__section .boxTxt,
    .project__section .boxTxt {
        font-size: 24px
    }

    .project__section img {
        height: auto;
    }

    .contact__section .form,
    .contact__section .leftBox {
        padding: 10px
    }

    .form h2 {
        font-size: 24px;
        width: 140px
    }

    .form input {
        font-size: 16px
    }

    .form button {
        padding: 10px 20px
    }

    .form div {
        padding: 10px;
        width: 260px
    }
}

@media screen and (max-width:767px) {
    .navbar-brand {
        font-size: 30px
    }

    .nav-item {
        padding-right: 20px
    }


    .nav-link {
        font-size: 16px
    }

    .hero {
        height: auto;
        padding: 5%;
    }

    .item1 .txt1,
    .item1 .txt2,
    .item1 h5 {
        font-size: 24px
    }

    .item1 h1 {
        font-size: 48px
    }

    .item1 p {
        font-size: 16px
    }

    .ellipse {
        height: 200px;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -80%);
        width: 200px
    }

    .image1 {
        height: 300px
    }

    .image2 {
        height: 400px
    }

    .item3 .socials {
        font-size: 24px;
        padding-right: 10px
    }

    .item3 .button1 {
        font-size: 18px;
        height: 50px;
        padding: 0 20px
    }

    .about__section,
    .contact__section {
        height: auto;
        padding: 5%;
    }

    .project__section {
        height: 100vh;
    }

    .project__section .row {
        gap: 5%;
    }

    .project__section .project__card {
        height: min-content;
    }

    .project__section .scroller,
    .scroller__inner {
        height: 100vh;
    }

    .about__section .heading,
    .project__section .heading,
    .contact__section .heading {
        font-size: 40px;
        margin: 50px 0
    }

    .about__section .about,
    .about__section .about2,
    .project__section .about,
    .project__section .about2,
    .contact__section .about,
    .contact__section .about2 {
        font-size: 30px
    }

    .about__section .square,
    .project__section .square {
        height: auto;
        margin: 20px;
        width: 80%;
    }

    .about__section .boxImg,
    .project__section .boxImg {
        font-size: 40px;
        margin-bottom: 20px
    }

    .about__section .boxTxt,
    .project__section .boxTxt {
        font-size: 24px
    }

    .project__section img {
        height: auto;
    }

    #games-section {
        display: none;
    }

    .contact__section .form,
    .contact__section .leftBox {
        padding: 10px
    }

    .form h2 {
        font-size: 24px;
        width: 140px
    }

    .form input {
        font-size: 16px
    }

    .form button {
        padding: 10px 20px
    }

    .form div {
        padding: 10px;
        width: 260px
    }
}

@media screen and (max-width:480px) {
    .navbar-brand {
        font-size: 30px
    }

    .nav-item {
        padding-right: 20px
    }

    .nav-link {
        font-size: 16px
    }

    .hero {
        height: auto;
        padding: 1rem
    }

    .item1 .txt1,
    .item1 .txt2,
    .item1 h5 {
        font-size: 24px
    }

    .item1 h1 {
        font-size: 48px
    }

    .item1 p {
        font-size: 16px
    }

    .ellipse {
        height: 200px;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -80%);
        width: 200px
    }

    .image1 {
        height: 300px
    }

    .image2 {
        height: 400px
    }

    .item3 .socials {
        font-size: 24px;
        padding-right: 10px
    }

    .item3 .button1 {
        font-size: 18px;
        height: 50px;
        padding: 0 20px
    }

    .about__section,
    .project__section,
    .contact__section {
        height: auto;
        padding: 20px 0
    }

    .about__section .heading,
    .project__section .heading,
    .contact__section .heading {
        font-size: 40px;
        margin: 50px 0
    }

    .about__section .about,
    .about__section .about2,
    .project__section .about,
    .project__section .about2,
    .contact__section .about,
    .contact__section .about2 {
        font-size: 30px
    }

    .about__section .square,
    .project__section .square {
        height: auto;
        margin: 20px;
        width: 80%;
    }

    .about__section .boxImg,
    .project__section .boxImg {
        font-size: 40px;
        margin-bottom: 20px
    }

    .about__section .boxTxt,
    .project__section .boxTxt {
        font-size: 24px
    }

    .project__section img {
        height: auto;
    }

    #games-section {
        display: none;
    }

    .contact__section .form,
    .contact__section .leftBox {
        padding: 10px
    }

    .form h2 {
        font-size: 24px;
        width: 140px
    }

    .form input {
        font-size: 16px
    }

    .form button {
        padding: 10px 20px
    }

    .form div {
        padding: 10px;
        width: 260px
    }

    .container {
        padding: 0
    }

    .about__section .grid-container,
    .project__section .grid-container {
        grid-template-columns: 1fr;
        padding: 0
    }

    .about__section .square,
    .project__section .square {
        max-width: none;
        width: 80%;
        max-height: 300px;
    }

    .contact__section .form,
    .contact__section .leftBox {
        width: 100%
    }

    .about__section .square,
    .project__section .square {
        margin: 10px 0 auto;
        width: 80%;
    }

    .item3 .button1 {
        margin: 3rem auto;
        text-align: center;
        width: 80%;
    }

    .contact__section .form input {
        font-size: 4vw
    }

    .form button {
        margin: 20px auto;
        width: 70%
    }

    .image2 {
        display: none
    }

    .about__section .boxImg {
        font-size: 50px
    }
}